<h1>Edit {{animal.name}}</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <form
      class="form edit an animal"
      action="/animals/edit/{{animal._id}}"
      method="post"
    >

      <div class="form-group">
        <label>Name:
          <input
            type="text"
            name="name"
            value={{animal.name}}
            class="form-control"
          />
        </label>
      </div>
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="6" class="form-control">
            {{animal.description}}
          </textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Type:
          <input
            type="text"
            name="type"
            value={{animal.type}}
            class="form-control"
          />
        </label>
      </div>
      <div class="form-group">
        <label for="sex">Sex: </label>
        <select id="sex" name="sex" value={{animal.sex}} class="form-control">
          <option value="male"> Male </option>
          <option value="female"> Female </option>
        </select>
      </div>
      <div class="form-group">
        <label for="size">Size: </label>
        <select
          id="size"
          name="size"
          value={{animal.size}}
          class="form-control"
        >
          <option value="small"> Small </option>
          <option value="medium"> Medium </option>
          <option value="large"> Large </option>
        </select>
      </div>
      <div class="form-group">
        <label>age:
          <input
            type="text"
            name="age"
            value={{animal.age}}
            class="form-control"
          />
        </label>
      </div>
      <div class="form-group">
        <label for="status">Status: </label>
        <select
          id="status"
          name="status"
          value={{animal.status}}
          class="form-control"
        >
          <option value="awaiting adoption"> Awaiting adoption </option>
          <option value="adopted"> Adopted </option>
        </select>
      </div>
      <div class="form-group">
        <label>Color:
          <input
            type="text"
            name="color"
            value={{animal.color}}
            class="form-control"
          />
        </label>
      </div>
      <div class="form-group">
        <label>Breed:
          <input
            type="text"
            name="breed"
            value={{animal.breed}}
            class="form-control"
          />
        </label>
      </div>
      <div class="form-group">
        <label for="dateofentry">Date of entry: </label>
        <input
          type="date"
          id="dateofentry"
          name="dateofentry"
          class="form-control"
          value="2021-11-26"
          min="2021-01-01"
          max="2021-12-31"
        />
      </div>
      <div class="form-group">
        <label for="kidfriendly">Kid Friendly: </label>
        <select
          id="kidfriendly"
          name="kidfriendly"
          value={{animal.kidfriendly}}
          class="form-control"
        >
          <option value="true"> Yes </option>
          <option value="false"> No! </option>
        </select>

      </div>

      <button type="Submit" class="btn btn-primary">Edit profile of
        {{animal.name}}</button>

    </form>
  </div>
</div>