<section class="animals-list">

  <h1>Our animals</h1>

  <form action="/animals" method="get" id="animalFilter">

    <div class="filters">
      <div class="animals-filter">
        <input type="checkbox" name="type" value="dog" autocomplete="" />
        <label>Dogs</label>
      </div>

      <div class="animals-filter">
        <input type="checkbox" name="type" value="cat" autocomplete="" />
        <label>Cats</label>
      </div>

      <button class="btn secondary" type="submit">Search</button>
    </div>
  </form>

  <div class="animals-grid">

    {{#each animals}}

      <div class="animal-in-list">

        <a href="/animals/{{this._id}}">
          
          <img src="{{imageUrl.0.path}}" alt="animal picture" />

          <div class="animal-info">
            <p> <span class="animal-name">{{name}}</span>, {{age}} years</p>
            <p>I'm {{status}}</p>
          </div>

        </a>

      </div>

    {{else}}

      <p>There are no animals to adopt yet!</p>

    {{/each}}

    <script src="js/filterAnimals.js"></script>
  </div>

</section>