
<section class="animal">

    <div class="animal-main-picture">
      <img src="{{imageUrl.[0].path}}" class="card-img-top" alt="{{name}}">
      <p class="name-animal"> {{name}}</p>
    </div>

    <div>
      <p> I'm a {{type}}</p>
      <p> {{sex}}</p>
      <p> {{size}} Kg</p>
      <p> {{age}} years</p>
      <p> I'm {{status}}</p>
      <p> Color {{color}}</p>
      <p> Date of Entry: {{dateofentry}}</p>
      <p> Kid Friendly: 
          {{kidfriendly}}
      </p>
      <p> Shelter ID: {{shelter}}</p>
    </div>

    <div class="animal-pictures">
      <img src="{{imageUrl.[1].path}}" class="card-img-top" alt="{{name}}">
      <img src="{{imageUrl.[2].path}}" class="card-img-top" alt="{{name}}">
    </div>

    <p class="animal-description"> Description: {{description}}</p>
  
</section>