<h1>Animals List</h1>
<hr>
<div class="row">
{{#each animalslist}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">

        <img src="{{imageUrl.[0].path}}" class="card-img-top" alt="{{name}}">
       
        <div class="card-body">
          <h5 class="card-title"> Name: {{name}}</h5>
          <p class="card-text"> Type: {{type}}</p>
          <p class="card-text"> Status: {{status}}</p>
        </div>
        <a href="/animals/{{this._id}}"> Learn more about:  {{name}}</a>
      <hr>
      </div>
    </div>
  {{else}}
    <p>There are no animals to adopt yet!</p>
  {{/each}}

  <hr />
</div>
