<section class="section_profile">

    <div class="profile-preferences ">

        <p class="title-box">Shelter {{user.name}}'s profile</p>

        <div class="white-box preferences">

            <p class="pref">
                <span>Name: </span>
                {{ user.name }}
            </p>

            <p class="pref">
                <span>Address: </span>
                {{user.address}} 
            </p>

            <p class="pref">
                <span>Contact Email: </span>
                {{user.contact_email}}
            </p>

            <p class="pref">
                <span>Contact Phone: </span>
                {{user.contact_phone}}
            </p>
        </div>

        {{#if canEdit}}
            <div class="group-btn">
                <a href="/users/{{user.usertype}}/{{user.username}}/profile-edit" class="btn">Edit profile</a>
                <a href="/animals/new" class="btn secondary">Add an Animal</a>
            </div>
            <a href="/users/{{user.usertype}}/{{user.username}}/delete-user" class="btn">Delete User</a> 
        {{/if}}

        <div class="shelter-list-animals">
            <h1> List of Animals of {{user.name}} </h1>
            {{>shelterAnimals this=animalslist}}

        </div>

        <a href="/shelters/animals/{{user.id}}" class="btn"> All shelter's animals</a>

    </div>

</section>



