
<section class="section_profile">

    <h1>My Profile </h1>

    <p>Showing shelter's profile</p>

    {{ user }}

    <p>{{user.name}}</p>
    <p>{{user.address}}</p>
    <p>{{user.contact_email}}</p>
    <p>{{user.contact_phone}}</p>

    <h1> List of Animals of {{user.name}} </h1>

    {{#if canEdit}}
        <a href="/users/{{user.usertype}}/{{user.username}}/profile-edit" class="btn">Edit profile</a>
        <a href="/animals/new" class="btn">Add an Animal</a>
        <a href="/users/{{user.usertype}}/{{user.username}}/delete-user" class="btn">Delete User</a>      
    {{/if}}

    <a href="/shelters/animals" class="btn"> List of animals from this Shelter </a>

</section>
