
<section class="section_profile">
  
    <h1>My Profile </h1>

    <h3>Showing adopter's profile</h3>

    <p>Username: {{ user.username }}</p>
    <p>Fullname: {{user.fullname}} </p>
    <p>Children: {{user.children}} </p>
    <p>Animal Preference: {{user.animalPreference}}</p>
    <p>Size living place: {{user.housingSize}}</p>

    {{#if canEdit}}
        <a href="/users/{{user.usertype}}/{{user.username}}/profile-edit" class="btn">Edit profile</a>
        <a href="/users/{{user.usertype}}/{{user.username}}/delete-user" class="btn">Delete User</a>      
    {{/if}}

</section>
