
<h1>My Profile </h1>

<section class="section_profile">

    <div class="profile-preferences ">
        <p class="title-box">My preferences</p>

        <div class="white-box preferences">
            
            <p class="pref">
                <span>Username: </span>
                {{ user.username }}
            </p>

            <p class="pref">
                <span>Fullname: </span>
                {{user.fullname}} 
            </p>

            <p class="pref">
                <span>Living with kids? </span>
                {{#if user.children}}
                    Yes
                {{else}}
                    No
                {{/if}}
            </p>

            <p class="pref">
                <span>Animal Preference: </span>
                {{user.animalPreference}}
            </p>

            <p class="pref">
                <span>Size living place: </span>
                {{user.housingSize}}
            </p>

        </div>

        {{#if canEdit}}
            <div class="group-btn">
                <a href="/users/{{user.usertype}}/{{user.username}}/profile-edit" class="btn secondary">Edit profile</a>
                <a href="/users/{{user.usertype}}/{{user.username}}/delete-user" class="btn">Delete User</a>      
            </div>
        {{/if}}
    </div>

</section>
